.idea
.pytest_cache
.ipynb_checkpoints


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
logs/

# PyTorch models
*.pytorch

# Python packages
pytorch3dunet.egg-info/
dist/

# data
dataset_exp50.1/
resources/3DUnet_lightsheet_nuclei/test/
